<h1>
  <span class="blue"></span>Last saved message on <span class="blue"></span>
  <span class="yellow">{{
    latestMessageDate | date : "dd/MM/yyyy HH:mm"
  }}</span>
</h1>

<table class="container">
  <thead>
    <tr>
      <th>
        <label class="custom-file-upload" *ngIf="!fileIsLoaded">
          <input type="file" (change)="onFileSelected($event)" #fileInput />
          Upload
        </label>
        <button
          class="custom-file-upload"
          *ngIf="fileIsLoaded"
          mat-raised-button
          color="primary"
          (click)="saveData()"
        >
          Save
        </button>
      </th>
      <th><h1>Name</h1></th>
      <th><h1>Messages</h1></th>
      <th><h1>Points</h1></th>
      <th *ngIf="!hideAddedUsers"><h1>Add Points</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of savedUserList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>
        {{ user.messageAmount }}
        <span *ngIf="userList.length > 0 && !hideAddedUsers">
          + {{ userList[i].messageAmount }}</span
        >
      </td>
      <td>
        {{ user.points }}
        <span *ngIf="userList.length > 0 && !hideAddedUsers">
          + {{ userList[i].points }}</span
        >
      </td>

      <td
        *ngIf="!hideAddedUsers"
        (click)="addPoints(user.name)"
        style="cursor: pointer"
      >
        Click to add
      </td>
    </tr>
    <tr *ngFor="let user of userList | slice : savedUserList.length">
      <td>New</td>
      <td>{{ user.name }}</td>
      <td>
        {{ user.messageAmount }}
      </td>
      <td>
        {{ user.points }}
      </td>
    </tr>
  </tbody>
</table>
