<header id="nav-wrapper">
  <nav id="nav">
    <a routerLink="/home">
      <div class="nav left">
        <span class="gradient skew">
          <h1 class="logo un-skew">
            <img class="image" src="../assets/images/logo.png" />
          </h1>
        </span>
      </div>
    </a>
    <h1 class="nav-title">TBK Social Credit Counter</h1>
    <div class="nav right">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Home</a
      >

      <a routerLink="/counter" routerLinkActive="active" class="nav-link"
        >Counter</a
      >
      <a routerLink="/rewards" routerLinkActive="active" class="nav-link"
        >Rewards</a
      >
    </div>
  </nav>
</header>
